{% extends "base.html" %}

{% block body %}
<!--This is the home page -->
        <div class="containter">
            <div class="jumbotron text-center">
                <h1>Welcome to Ontrak</h1>
                Mission Statement: Here at [Insert cool website name] we strive to make both teacher and student lives
                easier with our centralized homework location. We noticed that students and teachers had too many ways
                of giving homework making the homework that is assigned clear and consice so students dont have too much
                stress.
            </div>
        </div>




{% endblock %}
