{% extends "base.html" %}

{% block body %}
<!--This displays the section form for editing and creating new sections-->
        <div class="containter">
            <div class="jumbotron text-center">
                <h1>New Class</h1>
            </div>
            <form method=post>
                <table class="table">
                <!--This displays the fields from the form object. If the fileds have values in them 
                    that were set by the routes code, then it will be editing.  If they are empyt it
                    will create a new secion.-->
                <tr><td>{{ form.hidden_tag() }}{{ form.name.label }}</td><td>{{ form.name }}</td></tr>
                <tr><td>{{ form.per.label }}</td><td>{{ form.per }}</td></tr>
                <tr><td>{{ form.subject.label }}</td><td>{{ form.subject }}</td></tr>
                <tr><td>{{ form.teacher.label }}</td><td>{{ form.teacher }}</td></tr>
                <tr><td>{{ form.desc.label }}</td><td>{{ form.desc }}</td></tr>
                <tr><td colspan="2">{{form.submit()}}</td></tr>
                </table>
            </form>

        </div>




{% endblock %}
