
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  #800080">
  <a class="navbar-brand" href="/">OnTrak</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/help">help</a>
      </li>
    </ul>
    {% if "s_" in session['emails'] %}
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/classes">Classes</a>
        </li>
      </ul>
    {% elif 's_' not in session['emails']%}
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/classes">Classes</a>
        </li>
      </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/error">Classes</a>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      {% if session["displayName"] %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ session["displayName"] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={{ "/student/" + session["displayName"].replace(" ", "_") }}>Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      {% else %}
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<style>
.navbar {
    background-image: url({{ url_for('static', filename='navbg.png') }});
    background-size: auto 100%;
    background-repeat: repeat-x;
}

</style>
