{% extends "base.html" %}

{% block body %}

        <div class="containter">
            <div class="jumbotron text-center">
                <h1>Classes</h1>
                <a href="/newclass">New Class</a>
            </div>
            <table class="table">
                <tr><th> </th><th>Per</th><th>Class</th><th>Teacher</th><th>Description</th></tr>
                <!--This iterates through each class (section) in the sections variable that was
                    passed to the template from the route -->
                {% for section in sections %}
                    <tr>
                        <td>
                            <!--This builds the urls that pass the sectionID variable to the routes
                                for Edit, Delete and listing a sections assignments-->
                            {% if "s_" not in session['emails'] %}
                            <a href="/editclass/{{ section.pk }}">Edit</a> |
                            <a href="/deleteclass/{{ section.pk }}">Delete</a> |
                            <a href="/assignments/{{ section.pk }}">Assignments</a>
                            {% endif %}
                            
                            <!-- <a href="/newstudent/{{ section.pk }}">Assignments</a> -->
                        </td>
                        <!--This displays the data in the fields for each section -->
                        <td>{{ section.period }}</td>
                        <td>{{ section.name }}</td>
                        <td>{{ section.teacher }}</td>
                        <td align="left">{{ section.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>




{% endblock %}
